<%- include('./partials/header.ejs') %>
<%- include('./partials/indexnav.ejs') %>
Logged in as <%= email %>
<div class="form-group col-sm-5">
    <form>
        <label for="week">Choose a week:</label>
        <input class="form-control" type="week" name="week" required value="<%= week %>">
        <label for="month">Choose a month:</label>
        <input class="form-control" type="month" name="month" required value="<%= month %>">
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<h1>
    Weekly results
</h1>
<% if (weekResults.morningMood != 0 && weekResults.eveningMood != 0) { %>
    <ul class="list-group">
        <li class="list-group-item">
            Average hours slept: <%= weekResults.sleep %>
        </li>
        <li class="list-group-item">
            Average hours studied: <%= weekResults.study %>
        </li>
        <li class="list-group-item">
            Average hours spent on sports and exercise: <%= weekResults.sport %>
        </li>
        <li class="list-group-item">
            Average quality of sleep (Scaled 1-5): <%= weekResults.quality %>
        </li>
        <li class="list-group-item">
            Average generic mood in the (Scaled 1-5): <%= weekResults.morningMood %>
        </li>
        <li class="list-group-item">
            Average generic mood in the evening (Scaled 1-5): <%= weekResults.eveningMood %>
        </li>
    </ul>
<% } else { %>
    No data logged for the selected week.
<% } %>

<h1>
    Monthly results
</h1>
<% if (monthResults.morningMood != 0 && monthResults.eveningMood != 0) { %>
<ul class="list-group">
    <li class="list-group-item">
        Average hours slept: <%= monthResults.sleep %>
    </li>
    <li class="list-group-item">
        Average hours studied: <%= monthResults.study %>
    </li>
    <li class="list-group-item">
        Average time spent on sports and exercise: <%= monthResults.sport %>
    </li>
    <li class="list-group-item">
        Average quality of sleep (Scaled 1-5): <%= monthResults.quality %>
    </li>
    <li class="list-group-item">
        Average generic mood in the morning (Scaled 1-5): <%= monthResults.morningMood %>
    </li>
    <li class="list-group-item">
        Average generic mood in the evening (Scaled 1-5): <%= monthResults.eveningMood %>
    </li>
</ul>
<% } else { %>
    No data logged for the selected month.
<% } %>


<%- include('./partials/footer.ejs') %>